.active {
  background-color: rgb(22, 104, 162);
}
.active:hover {
  background-color: rgb(16, 81, 127);
  /* color: #38bdf8; */
}
.list ul li {
  display: inline-block;
  margin-left: 20px;
}
.list ul li a {
  text-decoration: none;
  color: black;
}
.list ul li a:hover {
  background-color: rgb(22, 104, 162);
  transition: all ease-in 0.5s;
}

.toggle-btn > div::before {
  --tw-translate-y: 0px;
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.toggle-btn > div::after {
  --tw-translate-y: 0px;
  --tw-rotate: -45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.toggle-btn > div {
  --tw-rotate: 720deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  background-color: transparent;
}
