body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-blue-test {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
  }
}

.bg-gradiant {
  background: radial-gradient(#000, rgb(93, 93, 93));
}
.drop-shadow-4xl {
  filter: drop-shadow(0 5px 5px rgba(120, 119, 119, 0.897))
    drop-shadow(0 5px 3px rgba(120, 119, 119, 0.897));
}
